body {
  background-color: black;
  margin: 0%;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr;
  background-color: red;
}
